<a class="float-right float" (click)="addperson()"  role="button" id="plus">
  <i class="fa fa-plus-circle text-xxl text-prk"></i>
</a>
<div class="row">
  <div *ngIf="isloading" class="text-center justify-content-center col-sm-12 col-xl-12 col-lg-12">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="isError" class="text-center justify-content-center col-sm-12 col-xl-12 col-lg-12">
    <i class="fa fa-stop-circle text-xxl " > refresh</i>
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </div>
<div *ngIf="!isloading" class="row">
  <div  *ngFor="let user of users" class="card col-sm-12 col-xl-3 col-lg-3 col-md-6 p-0 mx-3 shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div [ngClass]="{'bg-active': user?.active}" class="card-header  py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-prk"> {{user?.firstName || user?.username}}</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-prk"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
          <div class="dropdown-header">More:</div>
          <a class="dropdown-item" [id]="user.id" (click)="onSelect($event)">view</a>
          <a class="dropdown-item" href="#">{{user?.active ? 'Dismiss' : 'Activate' }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="collapse show" id="collapseCardExample" style="">
    <div class="card-body">
      <div class="form-group">
        <label for="">Prenom:</label>
        <p class="form-text text-prk">
          {{user?.lastName || 'user.prenom'}}
        </p>
      </div>
      <div class="form-group">
        <label for="">Contact:</label>
        <p class="form-text text-prk">
          {{user?.phone || 'user.Contact'}}
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

</div>
