
  <div  class="card col-sm-12 col-xl-6 col-lg-6 col-md-6 p-0 mx-3 shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div  class="card-header text-center bg-active py-3 d-flex flex-row align-items-center justify-content-between">
    <h2 class="m-0 font-weight-bold  text-primary">{{!submitted ? 'Add a member' : 'You submitted the following:'}}</h2>
    </div>
    <div class="float-left">
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>

  <div [hidden]="submitted" class="card-body">
    <hr>
    <form class="justify-content-md-center" (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group ml-xs-5 w-75">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="person.firstName" name="name"
               #name="ngModel">
               <p [hidden]="name.valid || name.pristine" class="form-text  text-danger">
                First Name is required
               </p>
      </div>
      <div class="form-group ml-xs-5 w-75">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lname"
               required
               [(ngModel)]="person.lastName" name="lname"
               #lname="ngModel">

        <p [hidden]="lname.valid || lname.pristine" class="form-text  text-warning">
          last Name is required
         </p>
      </div>
      <div class="form-group ml-xs-5 w-75">
        <label for="phone">Contact</label>
        <input type="text" class="form-control" id="phone" placeholder="(+237)632548689"
               [(ngModel)]="person.phone" name="phone" #phone="ngModel"
              >
          <p [hidden]="phone.pristine" class="form-text text-info">
            set the member phone number as his contact
          </p>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="person.active" name="alive" id="alive" [value]="person.active" >
           Activate ?
        </label>
        <p *ngIf="person.active" class="form-text text-muted">
          the user won't be completly activativated if he doesn't set his password
        </p>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); personForm.reset()">New Hero</button>
    </form>
  </div>

  <div [hidden]="!submitted" class="card-body">

    <div class="row">
      <div class="col-xs-3">user Name</div>
      <div class="col-xs-9">{{ person.username }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Full Name</div>
      <div class="col-xs-9">{{ person.fullName }}</div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-3">password  link</div>
      <div class="col-xs-9"><div class="alert alert-info" role="alert">
        <strong>Warning!</strong> <a href="{{person.active}}" class="alert-link"></a>
      </div></div>
    </div> -->
    <!-- <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ person.power }}</div>
    </div> -->
    <br>
    <button class="btn btn-primary" (click)="update=true;submitted=false">Edit</button>
  </div>
</div>
